{
  "go.useLanguageServer": true,
  "go.formatTool": "gofumpt",
  "go.lintTool": "staticcheck",
  "editor.formatOnSave": true,
  "editor.codeActionsOnSave": {
    "source.organizeImports": "explicit"
  },
  "sqltools.connections": [
    {
      "pgOptions": {
        "ssl": {
          "rejectUnauthorized": false
        }
      },
      "ssh": "Disabled",
      "previewLimit": 50,
      "server": "nexivent-bd.cmwytolpxhxk.us-east-1.rds.amazonaws.com",
      "port": 5432,
      "driver": "PostgreSQL",
      "name": "RDS-Postgres-Nexivent",
      "database": "postgres",
      "username": "user_admin"
    },
    {
      "ssh": "Disabled",
      "previewLimit": 50,
      "server": "localhost",
      "port": 5438,
      "driver": "PostgreSQL",
      "name": "nexivent-bd",
      "database": "postgres",
      "username": "postgres"
    }
  ]
}